/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #00334e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    text-align: center;
}

/* Barra de pesquisa */
.search-container {
    position: relative;
    width: 250px;
}

.search-bar {
    width: 100%;
    padding: 8px 40px 8px 10px;
    border-radius: 5px;
    border: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #00334e;
    color: white;
    padding-top: 180px; /* Ajuste para espaçar as opções mais para baixo */
    transition: 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Remover pontos de lista */
.sidebar ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;
    margin: 0;
}

/* Estilos dos links da sidebar */
.sidebar ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-right: 8px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Adicionando espaçamento entre as opções da sidebar (exceto dropdown) */
.sidebar ul li {
    margin-bottom: 15px; /* Espaçamento entre os itens da lista */
}

/* Removendo o espaçamento para itens do dropdown */
.sidebar .dropdown-menu li {
    margin-bottom: 0; /* Sem espaçamento entre os itens do dropdown */
}

/* Dropdown dentro da sidebar */
.dropdown-menu {
    display: block; /* Oculto por padrão */
    list-style-type: none;
    padding-left: 20px; /* Espaçamento para alinhamento */
    background-color: #00577b; /* Cor de fundo padrão do dropdown */
}

.dropdown-menu li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 0;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Estilos para o ícone da seta */
.seta-icone {
    width: 16px; /* Ajuste conforme necessário */
    transition: transform 0.3s ease; /* Transição suave para a rotação */
    margin-left: 40px; /* Espaçamento entre o texto e o ícone */
    filter: invert(1); /* Deixa a imagem branca */
}

.rotacionado {
    transform: rotate(180deg); /* Rotação da seta quando o dropdown é visível */
}

/* Estilo para o botão de sair (igual as opções da navbar) */
.logout-btn {
    color: white; /* Cor do texto (branco) */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px; /* Espaçamento interno */
    display: block;
    background-color: #00334e; /* Cor de fundo igual ao da navbar */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.2s; /* Transições suaves */
    margin-top: auto; /* Garante que o botão fique no final da lista */
}

/* Efeito hover para o botão de sair */
.logout-btn:hover {
    background-color: #00577b; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
    border-radius: 5px;
}



/* Conteúdo principal */
main {
    margin-top: 70px;
    padding: 10px;
    text-align: center;
}

/* Seção de boas-vindas */
.welcome-title {
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaçamento abaixo */
    color: #00334e; /* Cor do texto */
}

/* Seção de livros em destaque */
.featured-title {
    font-size: 24px; /* Tamanho da fonte */
    margin: 20px 0; /* Espaçamento acima e abaixo */
    color: #00334e; /* Cor do texto */
}

/* Seção de livros */
.featured-books {
    margin-top: 20px;
    text-align: center;
}

/* Contêiner dos livros */
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px; /* Espaçamento horizontal de 40px e vertical de 50px */
    max-width: 1000px; /* Largura máxima para comportar 5 livros com mais espaço */
    margin: 0 auto;
}

/* Card de livro */
.book-card {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    width: 180px; /* Largura fixa */
    height: 300px; /* Altura fixa */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-card a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do texto do elemento pai */
}

/* Imagem do livro */
.book-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Botões de filtro */
.filter-button {
    background-color: #00334e; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 5px 10px; /* Diminui o espaçamento interno */
    font-size: 14px; /* Diminui o tamanho da fonte */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    cursor: pointer; /* Mão ao passar o mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

.filter-button:hover {
    background-color: #00577b; /* Cor do botão ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
}

/* Estilo dos filtros */
.filter-label {
    font-weight: bold; /* Negrito */
    color: #00334e; /* Cor do texto */
    margin-bottom: 5px; /* Espaçamento abaixo do texto */
    display: block; /* Para que fique em cima das opções */
}

/* Contêiner dos filtros */
.filter-container {
    display: flex; /* Flexbox para alinhar horizontalmente */
    justify-content: center; /* Centraliza os filtros */
    gap: 20px; /* Espaçamento entre os filtros */
    margin: 20px 0; /* Espaçamento acima e abaixo */
}

/* Responsividade */
@media (max-width: 768px) {
    .book-list {
        max-width: 100%;
    }

    .book-card {
        width: 45%;
    }

    /* Responsividade da sidebar */
    .sidebar {
        width: 200px; /* Diminui a largura da sidebar em telas menores */
    }

    .navbar {
        flex-direction: column; /* Muda a navbar para uma coluna em dispositivos menores */
        align-items: center;
    }

    .search-container {
        width: 200px; /* Ajusta a largura da barra de pesquisa */
    }
}

/* Rodapé */
.footer {
    background-color: #00334e;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}
