/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #00334e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Logo */
.logo {
    font-size: 24px;
    text-align: center;
    margin-top: 0; /* Removido o margin-top exagerado */
}

/* Barra de pesquisa */
.search-container {
    position: relative;
    width: 250px;
}

.search-bar {
    width: 100%;
    padding: 8px 40px 8px 10px;
    border-radius: 5px;
    border: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo para a imagem no topo da sidebar */
.sidebar-image {
    display: flex; /* Usando flexbox para garantir centralização */
    justify-content: center; /* Centraliza a imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.sidebar-img {
    width: 100%; /* Ajusta a largura da imagem para ocupar toda a largura da sidebar */
    max-width: 220px; /* Largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas para um acabamento suave */
    margin-top: 5px; /* Espaço acima da imagem */
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #00334e;
    color: white;
    padding-top: 80px; /* Ajuste para espaçar as opções mais para baixo */
    transition: 0.3s;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.4); /* Aumentei o tamanho e intensidade da sombra */
}

/* Remover pontos de lista */
.sidebar ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;
    margin: 0;
}

/* Estilos dos links da sidebar */
.sidebar ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: flex; /* Usando flexbox para o alinhamento */
    align-items: center; /* Alinha verticalmente o texto e o ícone */
    gap: 0px; /* Espaçamento entre o texto e o ícone da seta */
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-right: 8px;
}

/* Ícone da seta */
.seta-icone {
    width: 16px; /* Largura fixa para o ícone da seta */
    height: 16px; /* Altura fixa para o ícone da seta */
    transition: transform 0.3s ease; /* Transição suave para a rotação */
    margin-left: auto; /* Empurra a seta para o lado direito */
    margin-right: 15px; /* Aumenta o espaço entre o texto e a seta */
    filter: invert(1); /* Deixa o ícone da seta na cor branca */
}

/* Rotacionando a seta quando o dropdown é visível */
.rotacionado {
    transform: rotate(180deg); /* Rotação de 180 graus da seta */
}

/* Fechar botão da sidebar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Adicionando espaçamento entre as opções da sidebar (exceto dropdown) */
.sidebar ul li {
    margin-bottom: 15px; /* Espaçamento entre os itens da lista */
}

/* Removendo o espaçamento para itens do dropdown */
.sidebar .dropdown-menu li {
    margin-bottom: 0; /* Sem espaçamento entre os itens do dropdown */
}

/* Dropdown dentro da sidebar */
.dropdown-menu {
    display: block; /* Oculto por padrão */
    list-style-type: none;
    padding-left: 20px; /* Espaçamento para alinhamento */
    background-color: #00577b; /* Cor de fundo padrão do dropdown */
}

.dropdown-menu li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 0;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Estilos para o ícone da seta */
.seta-icone {
    width: 16px; /* Ajuste conforme necessário */
    transition: transform 0.3s ease; /* Transição suave para a rotação */
    margin-left: auto; /* Empurra a seta para o lado direito */
    margin-right: 15px; /* Aumenta o espaço entre o texto e a seta */
    filter: invert(1); /* Deixa a imagem branca */
}

/* Rotacionado para o dropdown */
.rotacionado {
    transform: rotate(180deg); /* Rotação da seta quando o dropdown é visível */
}

/* Estilo para o botão de sair (igual as opções da navbar) */
.logout-btn {
    color: white; /* Cor do texto (branco) */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px; /* Espaçamento interno */
    display: block;
    background-color: #00334e; /* Cor de fundo igual ao da navbar */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.2s; /* Transições suaves */
    margin-top: auto; /* Garante que o botão fique no final da lista */
}

/* Efeito hover para o botão de sair */
.logout-btn:hover {
    background-color: #00577b; /* Cor do fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
    border-radius: 5px;
}

/* Conteúdo principal */
main {
    margin-top: 70px;
    padding: 10px;
    text-align: center;
}

/* Estilo do container de boas-vindas */
.welcome-container {
    background-color: #ffffff; /* Cor de fundo do container */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para o efeito de elevação */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto dentro do container */
    margin: 20px auto; /* Margem automática para centralizar */
    width: 100%; /* Largura total do container */
    max-width: 940px; /* Ajuste conforme necessário para se alinhar com a tabela */
}

/* Seção de boas-vindas */
.welcome-title {
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaçamento abaixo */
    color: #00334e; /* Cor do texto */
}

/* Seção de livros em destaque */
.featured-title {
    font-size: 24px; /* Tamanho da fonte */
    margin: 20px 0; /* Espaçamento acima e abaixo */
    color: #00334e; /* Cor do texto */
}

/* Seção de livros */
.featured-books {
    margin-top: 20px;
    text-align: center;
}

/* Contêiner dos livros */
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px; /* Espaçamento horizontal de 40px e vertical de 50px */
    max-width: 1000px; /* Largura máxima para comportar 5 livros com mais espaço */
    margin: 0 auto;
}

/* Card de livro */
.book-card {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    width: 180px; /* Largura fixa */
    height: 300px; /* Altura fixa */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-card a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do texto do elemento pai */
}

/* Imagem do livro */
.book-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Botões de filtro */
.filter-button {
    background-color: #00334e; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 5px 10px; /* Diminui o espaçamento interno */
    font-size: 14px; /* Diminui o tamanho da fonte */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    cursor: pointer; /* Mão ao passar o mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

.filter-button:hover {
    background-color: #00577b; /* Cor do botão ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
}

/* Estilo dos filtros */
.filter-label {
    font-weight: bold; /* Negrito */
    color: #00334e; /* Cor do texto */
    margin-bottom: 5px; /* Espaçamento abaixo do texto */
    display: block; /* Para que fique em cima das opções */
}

/* Contêiner dos filtros */
.filter-container {
    display: flex; /* Flexbox para alinhar horizontalmente */
    justify-content: center; /* Centraliza os filtros */
    gap: 20px; /* Espaçamento entre os filtros */
    margin: 20px 0; /* Espaçamento acima e abaixo */
}

/* Estilo da navegação de páginas */
.pagination {
    display: flex; /* Flexbox para layout */
    justify-content: center; /* Centraliza os botões */
    align-items: center; /* Alinha verticalmente */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 40px; /* Aumenta o espaçamento entre a paginação e o rodapé */
}

.btn-navegacao {
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 0 5px; /* Margem entre os botões */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: #00334e; /* Cor de fundo */
    color: white; /* Cor do texto */
    transition: background-color 0.3s; /* Efeito de transição */
}

.btn-navegacao:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
}

/* Estilo do texto da página */
.pagination span {
    margin: 0 15px; /* Margem lateral para o texto */
    color: #333; /* Cor do texto */
}

/* Rodapé */
.footer {
    background-color: #00334e;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 20px; /* Ajuste do espaçamento entre o rodapé e o conteúdo acima */
}

/* Responsividade */
@media (max-width: 768px) {
    /* Ajustes para dispositivos móveis */
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .search-container {
        width: 100%;
        margin-bottom: 15px;
    }

    .book-list {
        flex-direction: column; /* Empilha os livros verticalmente */
        gap: 30px; /* Aumenta o espaçamento entre os livros */
    }

    .book-card {
        width: 100%;
        max-width: 350px; /* Limita a largura máxima para os cards */
    }

    .sidebar {
        width: 200px;
        left: -200px; /* Ajusta a largura da sidebar em telas pequenas */
    }

    .sidebar .close-btn {
        font-size: 30px; /* Aumenta o tamanho do ícone de fechar */
    }

    .pagination {
        flex-direction: column;
    }

    .filter-container {
        flex-direction: column; /* Coloca os filtros em coluna */
        gap: 10px;
    }

    .footer {
        font-size: 14px; /* Diminui o tamanho da fonte do rodapé em telas pequenas */
        padding: 15px;
    }
}
