/* Estilos principais da página */
main {
    padding: 20px;
}


.welcome-title {
    text-align: center;
    margin-bottom: 20px;
    color: #00334e;
}

/* Estilo para a barra de pesquisa 2*/
.search-container2 {
    display: flex; /* Usando Flexbox para alinhar itens */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 20px 0; /* Margem superior e inferior */
    border-radius: 30%;
}

/* Estilo da barra de pesquisa 2*/
.search-bar2 {
    width: 300px; /* Largura fixa ou percentual */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda da barra de pesquisa */
    border-radius: 10px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilo do botão de pesquisa 2*/
.search-icon2 {
    background-color: #00334e; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    margin-left: 10px; /* Margem à esquerda do botão */
}

.search-icon:hover2 {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

.tabela-container {
    display: flex;
    flex-direction: column; /* Muda para coluna para que os títulos e tabelas fiquem empilhados */
    align-items: center; /* Centraliza horizontalmente */
    padding: 20px;
}

.livros-tabela {
    width: 100%;
    max-width: 800px; /* Define uma largura máxima para a tabela */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.livros-tabela thead th {
    background-color: #00334e;
    color: #ffffff;
    padding: 10px;
    text-align: center; /* Centraliza apenas os cabeçalhos */
    font-weight: bold;
}

.livros-tabela tbody td {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centraliza o conteúdo das células */
}

.livros-tabela tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo da navegação de páginas */
.pagination {
    margin-top: 20px; /* Espaçamento entre o conteúdo da tabela e os botões de navegação */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adicionando espaçamento entre os botões e a próxima tabela */
.pagination + .tabela-container {
    margin-top: 30px; /* Espaçamento entre os botões e a próxima tabela */
}

.btn-navegacao {
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 0 5px; /* Margem entre os botões */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: #00334e; /* Cor de fundo */
    color: white; /* Cor do texto */
    transition: background-color 0.3s; /* Efeito de transição */
}

.btn-navegacao:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
}

.pagination span {
    margin: 0 15px; /* Margem lateral para o texto */
    color: #333; /* Cor do texto */
}



/* Ajustes responsivos */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container {
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .tabela-container {
        padding: 10px;
    }
}
