/* Estilos para a página de Notificações */
main {
    padding: 20px;
}

.welcome-title {
    text-align: center;
    margin-bottom: 20px;
    color: #00334e;
}

.notificacoes-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tabela-container {
    width: 100%;
    max-width: 800px;
}

.notificacoes-tabela {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.notificacoes-tabela thead th {
    background-color: #00334e;
    color: #ffffff;
    padding: 10px;
    text-align: center; /* Centraliza apenas os cabeçalhos */
    font-weight: bold;
}

.notificacoes-tabela tbody td {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centraliza o conteúdo das células na coluna de ações */
}

.notificacoes-tabela tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-marcar-lida,
.btn-excluir {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px; /* Define a mesma largura para ambos os botões */
    text-align: center;
    display: inline-block; /* Garante que os botões fiquem centralizados */
}

.btn-marcar-lida {
    background-color: #4CAF50;
    color: white;
}

.btn-excluir {
    background-color: #e74c3c;
    color: white;
}

.btn-marcar-lida:hover {
    background-color: #45a049;
}

.btn-excluir:hover {
    background-color: #c0392b;
}

/* Estilo para notificações lidas */
.lida {
    background-color: #d3eedd; /* Fundo diferente para notificações lidas */
    color: #666; /* Cor do texto de notificações lidas */
}


/* Estilo da navegação de páginas */
.pagination {
    display: flex; /* Flexbox para layout */
    justify-content: center; /* Centraliza os botões */
    align-items: center; /* Alinha verticalmente */
    margin-top: 20px; /* Espaçamento superior */
}

.btn-navegacao {
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 0 5px; /* Margem entre os botões */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: #00334e; /* Cor de fundo */
    color: white; /* Cor do texto */
    transition: background-color 0.3s; /* Efeito de transição */
}

.btn-navegacao:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
}

/* Estilo do texto da página */
.pagination span {
    margin: 0 15px; /* Margem lateral para o texto */
    color: #333; /* Cor do texto */
}

/* Rodapé */
.footer {
    background-color: #00334e;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}