/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Container principal (main) */
main {
    width: 90%; /* Utiliza 90% da largura da tela para espaçamentos laterais */
    max-width: 1000px; /* Largura reduzida para 1000px */
    margin: 50px auto; /* Centraliza o conteúdo com margem superior e inferior */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

/* Seção de Boas-vindas */
.welcome-container {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin: 30px auto 30px auto; /* Margem superior de 30px */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Box-shadow levemente reduzido */
    width: 100%; /* Garante que ocupe 100% da largura disponível */
    max-width: 1000px; /* Mesma largura máxima que o main */
    box-sizing: border-box; /* Garante que padding não afete a largura */
}

/* Título e parágrafo da seção de boas-vindas */
.welcome-title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #00334e;
}

.welcome-container p {
    font-size: 16px;
    color: #333;
}

/* Seção de Conteúdo */
.main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Aumenta a sombra superior */
    margin-top: 50px; /* Reduz o espaçamento superior */
    width: 100%; /* Garante que ocupe 100% da largura disponível */
    max-width: 1000px; /* Mesma largura máxima que o main e o welcome-container */
    box-sizing: border-box; /* Garante que padding não afete a largura */
}


/* Containers de conteúdo */
.content-container {
    max-width: 800px; /* Largura reduzida para 800px */
    margin: 0 auto 30px auto; /* Centraliza e dá espaçamento inferior */
    width: 100%; /* Garante que ocupe 100% da largura disponível */
}

/* Títulos e parágrafos dos containers de conteúdo */
.content-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00334e;
    margin-top: 50px; /* Adiciona o espaçamento superior para os títulos */
}

.content-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: justify; /* Justifica o texto dos parágrafos */
}

/* Listas dentro das seções */
.content-container ul {
    text-align: justify; /* Justifica o texto das listas */
    margin-top: 20px;
    line-height: 1.8;
}

/* Rodapé */
.footer {
    background-color: #00334e;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}
